<h1>Listing Posts</h1>


<div class="menu">
	<div class="menu-title">Sean Sullivan</div>
	<div class="menu-link">test_link</div>
</div>

<div class="content">
	<% @posts.each do |post| %>
	<div class="post-link">
	  <div class="post-link-date"><%= post.created_at.strftime("%Y %B") %></div>
	  <div class="post-link-title"><%= link_to post.title, post_path(post) %></div>
	</div>
	<% end %>
</div>
